@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body {
    font-family: 'Shadows Into Light', cursive !important;
}

#startText {
    font-size: 22px !important;
}

#signupForm, #loginForm {
    display: none;
}

.index-section-header {
    font-size: 36px;
}