@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
body {
    font-family: 'Shadows Into Light', cursive !important;
}

#startText {
    font-size: 22px !important;
}

#signupForm, #loginForm {
    display: none;
}

.index-section-header {
    font-size: 36px;
}

.mon-battle-portrait {
    display: block;
    max-width: 256px;
    max-height: 256px;
    width: auto;
    height: auto;
}

.battle-button {
    width: 40%;
}

.player-mon-portrait {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.main-nav {
    float: right;
}

.nav-bar {
    font-size: 24px;
    padding-left: 2em;
}

.location-card {
    width: 18rem;
    min-height: 16rem;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.location-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}